html, body {
	height: 100%;
}

body {
	display: flex;
	flex-direction: row;
	padding: 0;
	margin: 0;
	align-items: stretch;
}

.column.left {
	flex: 1;
	min-width: 250px;
	background-color: #eee;
	display: flex;
	flex-direction: column;
}

.column.main {
	flex: 3;
	background-color: #efd;
}





.hidden {
	display: none;
}




input#filter {
	margin: 0.5em;
	padding: 0.2em 0.5em;
	font-size: 1em;
	border: 1px solid #bbb;
}


#persons {
	padding: 0;
	margin: 0;
}

#personsBox {
	overflow: auto;
	flex: 1;
}

li {
	margin: 0 0 1px 0;
	cursor: pointer;
	padding: 0.3em 0.5em 0.3em 0.5em;
	list-style-type: none;
}

li.selected {
	background-color: #bada55;
}








dialog {
	background: #FFF;
	width: 300px;
	text-align: center;
	padding: 1.5em;
	margin: 1em auto;
	border: 0;
	border-top: 5px solid #69c773;
	box-shadow: 0 2px 10px rgba(0,0,0,0.8);
}

dialog::backdrop {
	/*
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	*/
	background-color: rgba(0, 0, 0, 0.6);
}
