[submodule "includes/google-api"]
	path = includes/google-api
	url = https://github.com/google/google-api-php-client.git
[submodule "includes/DatabasePDO"]
	path = includes/DatabasePDO
	url = https://github.com/teolag/DatabasePDO.git
[submodule "public_html/js/AjaXIO"]
	path = public_html/js/AjaXIO
	url = https://github.com/teolag/AjaXIO
